* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: "Gilroy";
  background-color: #0b1d26;
  background-image: url("./../img/bg/bg.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
  transition: color 0.2s ease-in;
}

/* Base */
.no-scroll {
  overflow-y: hidden;
}

.container-wide {
  max-width: 1790px;
  margin: 0 auto;
  padding: 0 15px;
}
.container {
  max-width: 1492px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.row {
  display: flex;
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

/* Header */

.header {
  padding-top: 64px;
  padding-bottom: 843px;
}

.nav-wrapper {
  margin-bottom: 198px;
}

.logo {
  font-family: "Playfair Display", serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  transition: color 0.2s ease-in;
}
.logo:hover {
  color: rgb(9, 105, 9);
}

.nav {
  font-weight: 700;
  font-size: 18px;
}

.nav ul {
  display: flex;
  /* column-gap: 40px; */
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav li + li {
  margin-left: 40px;
}
.nav a {
  position: relative;
  padding-bottom: 5px;
}
.nav a::after {
  position: absolute;
  left: 0;
  bottom: -10px;
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #fbd784;
  opacity: 0;
  transition: all 0.2s ease-in;
}
.nav a:hover {
  color: #fbd784;
}
.nav a:hover::after {
  bottom: 0px;
  opacity: 1;
}

.account {
  position: relative;
  padding-left: 30px;
  font-size: 17px;
  color: inherit;
  transition: color 0.2s ease-in;
}

.account:hover {
  color: #fbd784;
}

.account::before {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 20px;
  height: 20px;
  transform: translateY(-50%);
  background-image: url("./../img/icons/account.svg");
  background-size: contain;
}

.nav-button {
  position: relative;
  z-index: 9;
  display: none;
  height: 25px;
  border: none;
  padding: 0;
  cursor: pointer;
  background: none;
}
.nav-button:focus,
.nav-button:active {
  outline: none;
}

.nav-button-icon {
  position: relative;
  display: block;
  width: 42px;
  height: 5px;
  background-color: #ffffff;
  border: none;
}

.nav-button-icon::before {
  position: absolute;
  left: 0;
  top: -10px;
  content: "";
  width: 42px;
  height: 5px;
  display: block;
  background-color: #ffffff;
}

.nav-button-icon::after {
  position: absolute;
  left: 0;
  bottom: -10px;
  content: "";
  width: 42px;
  height: 5px;
  display: block;
  background-color: #ffffff;
}

.nav-button-close .nav-button-icon {
  background-color: transparent;
}

.nav-button-close .nav-button-icon::before {
  transform: rotate(45deg);
  top: 0;
}

.nav-button-close .nav-button-icon::after {
  transform: rotate(-45deg);
  top: 0;
}

.mobile-nav {
  position: fixed;
  z-index: 8;
  top: 0;
  right: 0;
  display: none;
  /* display: flex; */
  flex-direction: column;
  justify-content: space-between;
  padding: 70px 70px 50px 30px;
  width: 300px;
  height: 100%;
  background-color: rgba(11, 29, 38, 0.8);
}

.mobile-nav .nav,
.mobile-nav .account {
  display: block;
}

.mobile-nav .nav ul {
  flex-direction: column;
}

.mobile-nav .nav ul li {
  margin: 0;
  margin-bottom: 25px;
}
/* Hero */

.hero {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 980px;
  padding-left: 15px;
  padding-right: 15px;
  transition: transform 0.5s cubic-bezier(0.66, 0.21, 0.29, 1.65);
}

.hero:hover {
  transform: translateY(-5%);
}

.hero-category {
  margin-bottom: 32px;
  position: relative;
  padding-left: 104px;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #fbd784;
}

.hero-category::before {
  position: absolute;
  display: block;
  left: 0;
  /* bottom: 10px; */
  top: 50%;
  transform: translateY(-50%);
  content: "";
  width: 72px;
  height: 2px;
  background-color: #fbd784;
}

.hero-title {
  margin-bottom: 32px;
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-size: 88px;
  line-height: 1.14;
  text-transform: capitalize;
  color: #ffffff;
}

.hero-scroll {
  display: inline-block;
  position: relative;
  padding-right: 32px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  color: #ffffff;
}

.hero-scroll::after {
  position: absolute;
  display: block;
  content: "";
  right: 0;
  top: 50%;
  width: 16px;
  height: 24px;
  transform: translateY(-50%);
  background-image: url("./../img/icons/arrow-down.svg");
}

/*  Article*/

.article {
  margin-bottom: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article:nth-child(even) {
  flex-direction: row-reverse;
}
.article-text {
  position: relative;
  max-width: 782px;
  padding-left: 150px;
  margin-right: 20px;
}

.article-text::before {
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(-50%);
  display: block;
  content: attr(data-number);
  width: 240px;
  height: 240px;
  font-weight: 700;
  font-size: 240px;
  line-height: 1;
  color: rgba(255, 255, 255, 0.1);
}

.article-subtitle {
  margin-bottom: 32px;
  position: relative;
  padding-left: 96px;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #fbd784;
}

.article-subtitle::before {
  position: absolute;
  display: block;
  left: 0;
  /* bottom: 10px; */
  top: 50%;
  transform: translateY(-50%);
  content: "";
  width: 72px;
  height: 2px;
  background-color: #fbd784;
}

.article-title {
  margin: 0;
  margin-bottom: 27px;
  max-width: 555px;
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-size: 64px;
  line-height: 1.2;
}

.article-text p {
  margin-bottom: 27px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.78;
}

.article-read-more {
  display: inline-block;
  position: relative;
  padding-right: 40px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  color: #fbd784;
}

.article-read-more:after {
  position: absolute;
  display: block;
  content: "";
  right: 0;
  top: 50%;
  width: 24px;
  height: 16px;
  transform: translateY(-50%);
  background-image: url("./../img/icons/arrow-right.svg");
}
.article-img img {
  display: block;
  max-width: 100%;
}

/* Footer */
.footer {
  padding-bottom: 120px;
}

.footer-row {
  display: flex;
  justify-content: space-between;
}

.footer-copyright {
  display: flex;
  flex-direction: column;
}

.footer-copyright-logo {
  margin-bottom: 24px;
}

.footer-copyright-desc {
  margin: 0;
  margin-bottom: 122px;
  max-width: 303px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.78;
}

.footer-copyright-terms {
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.78;
  color: rgba(255, 255, 255, 0.5);
}

.footer-nav-wrapper {
  display: flex;
}
.footer-nav + .footer-nav {
  margin-left: 212px;
}
.footer-nav {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.78;
}

.footer-nav-title {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.33;
  color: #fbd784;
  transition: color 0.2s ease-in;
}
.footer-nav-title:hover {
  color: rgb(9, 105, 9);
}

.footer-nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-nav li {
  margin: 0;
  padding: 0;
  margin-top: 11px;
}

.footer-nav li:first-child {
  margin-top: 0;
}

.footer-nav a {
  position: relative;
  padding-bottom: 5px;
}

.footer-nav a::after {
  position: absolute;
  left: 0;
  bottom: -10px;
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #fbd784;
  opacity: 0;
  transition: all 0.2s ease-in;
}

.footer-nav a:hover {
  color: #fbd784;
}

.footer-nav a:hover::after {
  bottom: 0px;
  opacity: 1;
}
